*{
    margin: 0;
    padding: 0;
}
section#show-news {
    background-color: #209b60;
    color: white;
}
ul li{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
#menu-list{

    position: fixed;
    top: 160px;
    left: 70px;
}
.menu-item{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 2px;
}
.menu-item1{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 2px;
}
.menu-item:hover{
    background-color: #ffc400;
    cursor: pointer;
}
.menu-item a{
    display: block;
    color: black;
}
.menu-item a:hover{
    text-decoration: none;
}
.html{
    margin-top: 20px;
    margin-right: -56px;
    height: 120px;
    font-size: 65%;
    padding-left: 0;!important;
    padding-right: 0;!important;
}
.html div{
    float: left;
}
.html img{
    width: 180px;
    height: 120px;
}
.html h3{
    margin: 0;
    font-size: 200%;
}
.html p{
    margin-bottom: 5px;
    color: #636363;
}
.rectangle1{
    width: 100%;
    height: auto;
    margin-top: 30px;
    border-bottom: 1px solid #ededed;
    padding: 0 0 20px 0;!important;
    /*transition: width 1s,height 1s,background-color 1s,font-size 1s;*/
}
.rectangle1 .content{
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    transition: width 2s,height 2s;
    margin-bottom: 30px;
}
#relativeNews{
    width: 300px;
    float: left;
    background-color: #f3f3f3;
    margin-left: 50px;
    margin-top: 40px;
    padding: 10px 10px;
}
#wrapper{
    width: 55%;
    float: left;
    margin-left: 200px;
    padding-left: 20px;
}

#dropdown-menuYear{
    min-width: 95px;
}
#dropdown-menuMonth{
    min-width: 95px;
}

@media (max-width: 1024px) {
    .html img{
        margin-top: 5px;
        width: 130px;
        height: 100px;
    }
    #relativeNews{
        width: 200px;
    }

}
@media (max-width: 768px) {
    .html img{
        display: none;
    }
    .html div{
        float: none;
    }
    .col-md-5{
        padding-right: 5px;!important;
    }
    .col-md-6{
        padding-right: 0;!important;
    }
    #date-filter{
        width: 40%;
    }
    #date-filter span{
        margin-left: 10%;
    }
    #menu-list{
        margin-left: 12%;
    }
    #wrapper{
        width: 60%;
        float: left;
        margin-left:12% ;
        padding-left: 20px;
    }
    #relativeNews{
        display: none;
    }
    #menu-list{
        position: static;
    }
    .menu-item,.menu-item1{
        width: 110px;
        display: inline-block;
        float: left;
    }
}
@media (max-width: 425px) {
    .html{
        margin-top: 3%;
        margin-bottom: 3%;
        height: 100px;
        padding-left: 0;!important;
        padding-right: 0;!important;
    }
    #thelist{
        padding-left: 0;!important;
    }
    #menu-list{
        display: block;
        float: none;
    }
    .html img{
        display: none;
    }
    .rectangle1{
        width: 100%;
        margin: 20px auto;
    }
    .rectangle1{
        margin-left: 10px;
    }
    #wrapper{
        padding-left: 2px;
    }
    .rectangle1 .content{
        margin-bottom: 5px;
    }
}
#foot1 #footer .footer-bottom{!important;
    padding: 15px 0;
    text-align: center;
    background-color: #0f0f0f;
    color: #eee;
}

#foot1 #footer .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}