.container-fluid{
    margin: 0px;
    padding: 0px;
}
.fr{
    float: right;
}
.header .main{
    width: 100%;
    margin: 10px auto;
    height: auto;
    border-radius: 10px;
    border-bottom: 1px solid darkgray;
}
.toolbar{
    background-color: black;
    margin-bottom: 50px;
}
.toolbar button{
    margin: 10px;
    padding: 5px 15px;
    border: 1px solid dodgerblue;
    color: #3e8f3e;
}
.toolbar button:hover{
    background-color: #3e8f3e;
    color: white;
}
.nav{
    background-color: #209b60;
    color: white;
}
.nav h1,.nav h2{
    padding: 30px;
}
.main{
    margin-top: 0px;
}
#login_box{
    width: auto;
    height: auto;
    opacity: 0.7;
}
#login_box input,#login_box button,#login_box div{
    float: none;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
}
.reset_password_box h3,.reset_password_box input,.reset_password_box button{
    float: none;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
}
.reset_password_box input,.reset_password_box button{
    border: 1px solid dodgerblue;
}
.reset_password_box button{
    background-color:dodgerblue;
    color: white;
}
.reset_password_box button:hover{
    background-color: purple;
}

#login_box button{
    background-color: blueviolet;
    color: white;
}
#login_box a{
    display: block;
    float: right;
}
.login_box{
    width: 80px;
    height: 80px;
    background-color: #4cae4c;
    position: fixed;
    top: 50px;
    right: 20px;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
    box-shadow: 2px 2px 2px 2px green;
    opacity: 0.5;
    color: white;
}
.login_box:hover{
    border: 1px solid dodgerblue;
    background-color: white;
    color: green;
}

