.container-fluid{
    margin: 0px;
    padding: 0px;
}
.fr{
    float: right;
}
.header,.main{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.main{
    margin: 70px auto;
}
.toolbar{
    background-color: black;
}
.toolbar button {
    margin: 10px;
    padding: 5px 15px;
    border: 1px solid dodgerblue;
    color: #3e8f3e;
}
.toolbar button a{
    color: #4cae4c;
}
.toolbar button a:hover{
    color: white;
}
.nav1{
    background: linear-gradient(#209b60,white);
    color: white;
}
.nav1 h1,.nav1 h2{
    padding: 30px;
}
#login_box{
    width: auto;
    height: auto;
    opacity: 0.7;
}
#login_box input,#login_box button,#login_box div{
    float: none;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
}
.reset_password_box h3,.reset_password_box input,.reset_password_box button{
    float: none;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
}
.reset_password_box button{
    color: black;
    opacity: 0.5;
}
.reset_password_box button:hover{
    font-size: 24px;
}
.reset_password_box #re_pwd_caution,.reset_password_box #conf_pwd_caution,#caution{
    float: none;
    color: red;
}
#login_box button{
    color: black;
    opacity: 0.5;
}
#login_box button:hover{
    font-size: 24px;
}
#login_box a{
    display: block;
    float: right;
}
@media screen and(max-width:768px)and (min-width: 320px){
    .main .row{
        margin: 50px auto;
    }
    .footer .footer-bottom{
        position: fixed;
        bottom: 0px;
    }
}
.login_box{
    width: 80px;
    height: 80px;
    background-color: #e686d6;
    position: fixed;
    top: 50px;
    right: 20px;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
    box-shadow: 2px 2px 2px 2px #800d26;
    color: white;
}
.login_box:hover{
    border: 1px solid dodgerblue;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #78807e;
    color: green;
}
.footer .footer-bottom{
    width: 100%;
    text-align: center;
    padding: 30px;
    background: linear-gradient(white, #209b60);
    position: fixed;
    bottom: 0px;
}

